html, body {
	margin: 0;
	height: 100%;
}

@-webkit-keyframes bgcolor {
	11.11% {
		filter: opacity(75%) drop-shadow(0 0 0 #ff2400);
	}
	22.22% {
		filter: opacity(75%) drop-shadow(0 0 0 #e81d1d);
	}
	33.33% {
		filter: opacity(75%) drop-shadow(0 0 0 #e8b71d);
	}
	44.44% {
		filter: opacity(75%) drop-shadow(0 0 0 #e3e81d);
	}
	55.55% {
		filter: opacity(75%) drop-shadow(0 0 0 #1de840);
	}
	66.66% {
		filter: opacity(75%) drop-shadow(0 0 0 #1ddde8);
	}
	77.77% {
		filter: opacity(75%) drop-shadow(0 0 0 #2b1de8);
	}
	88.88% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
	99.99% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
}
@-moz-keyframes bgcolor {
	11.11% {
		filter: opacity(75%) drop-shadow(0 0 0 #ff2400);
	}
	22.22% {
		filter: opacity(75%) drop-shadow(0 0 0 #e81d1d);
	}
	33.33% {
		filter: opacity(75%) drop-shadow(0 0 0 #e8b71d);
	}
	44.44% {
		filter: opacity(75%) drop-shadow(0 0 0 #e3e81d);
	}
	55.55% {
		filter: opacity(75%) drop-shadow(0 0 0 #1de840);
	}
	66.66% {
		filter: opacity(75%) drop-shadow(0 0 0 #1ddde8);
	}
	77.77% {
		filter: opacity(75%) drop-shadow(0 0 0 #2b1de8);
	}
	88.88% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
	99.99% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
}
@-o-keyframes bgcolor {
	11.11% {
		filter: opacity(75%) drop-shadow(0 0 0 #ff2400);
	}
	22.22% {
		filter: opacity(75%) drop-shadow(0 0 0 #e81d1d);
	}
	33.33% {
		filter: opacity(75%) drop-shadow(0 0 0 #e8b71d);
	}
	44.44% {
		filter: opacity(75%) drop-shadow(0 0 0 #e3e81d);
	}
	55.55% {
		filter: opacity(75%) drop-shadow(0 0 0 #1de840);
	}
	66.66% {
		filter: opacity(75%) drop-shadow(0 0 0 #1ddde8);
	}
	77.77% {
		filter: opacity(75%) drop-shadow(0 0 0 #2b1de8);
	}
	88.88% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
	99.99% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
}
@keyframes bgcolor {
	11.11% {
		filter: opacity(75%) drop-shadow(0 0 0 #ff2400);
	}
	22.22% {
		filter: opacity(75%) drop-shadow(0 0 0 #e81d1d);
	}
	33.33% {
		filter: opacity(75%) drop-shadow(0 0 0 #e8b71d);
	}
	44.44% {
		filter: opacity(75%) drop-shadow(0 0 0 #e3e81d);
	}
	55.55% {
		filter: opacity(75%) drop-shadow(0 0 0 #1de840);
	}
	66.66% {
		filter: opacity(75%) drop-shadow(0 0 0 #1ddde8);
	}
	77.77% {
		filter: opacity(75%) drop-shadow(0 0 0 #2b1de8);
	}
	88.88% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
	99.99% {
		filter: opacity(75%) drop-shadow(0 0 0 #dd00f3);
	}
}


.page::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url("https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg") no-repeat center center fixed; 
	-webkit-animation: bgcolor 18s ease infinite;
	-z-animation: bgcolor 18s ease infinite;
	-o-animation: bgcolor 18s ease infinite;
	animation: bgcolor 18s ease infinite;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.page {
 position: relative;
}
.page-inside {
	position: relative;
}
