html, body {
	margin: 0;
	height: 100%;
}
.page::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url("https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg") no-repeat center center fixed; 
	filter: opacity(0.5) drop-shadow(0 0 0 blue);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.page {
 position: relative;
}
.page-inside {
	position: relative;
}
